* {
    box-sizing: border-box;
}

.row{
    height: 100%;
}

.column {
    float: left;
    padding: 10px;
    height: 500px;
}

.left {
    width: 25%;

}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.button-container {
    width: 80px;
    height: 50px;
    margin-top: 30px;
    margin-left: 25px;
}
.menu-buttons {
    width: 262px;
    padding: 20px;
    margin-top: 33px;
    height: 161px;
    background-color: white;
    font-size: 18px;
}

.menu-buttons:hover {
    background-color: rgb(131, 131, 241);
    
}

.reort-data{
    width: 240px;
    height: 90px;
    background-color: aqua;
    margin-top: 5px;
}

#iframe{
    width: 500px;
    height: 500px;
}

#col-right{
    border: black;
    border-style: ridge ;
}

#col-left{
    border: black;
    border-style: ridge ;
}

.right-container {
    margin-left: 25px;
}

#save {
    margin-top: 14px;
    margin-right: 20px;
}

#save:hover{
    background-color: rgb(131, 131, 241);
}